body{
    background-color: #072b55;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-container{
    margin:159 auto;
    width: 600px;
}

h1{ 
    color:antiquewhite;
}

h2{
    margin: 40px;
    color: antiquewhite;
}

table{
    background-color: antiquewhite;
    text-align: left;
    width: 95%;
    margin: auto;
}

th,td{
    border: solid 1px black;
    padding: 10;
}

thead{
    background-color:darkcyan;
    border-bottom: solid 0px;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color:darkolivegreen;
    color:white;
}

header{
    display: flex;
    height: 60px;
    background-color:darkslategray;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    display: flex;
    align-items: flex-end;
}

#menu {
    background-color: darkcyan;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: white;
    display: block;
    padding: 15px 288.75px;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: darkslategray;
}

div{
    color: antiquewhite;
}

.fcc-btn {
    background-color: darkcyan;
    color: white;
    padding: 5px 25px;
    text-decoration: none;
    border: 5px solid darkslategray;
    
}

.fcc-btn:hover{
    background-color:darkolivegreen;
    color:white;
}

.hunt{
    margin-left:350px;
    
}

.picker{
    position:absolute;
    left: 1000px;
    top: 375px;
}

.rgb{
    margin-left: 480px;
}