body{
    background-color: #06283D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
}

#main-container{
    margin:159 auto;
    width: 600px;
}

h1{ 
    color:white;
    text-align: center;
}

h2{
    text-align: center;
    color: white;
}

table{
    background-color: #DFF6FF;
    text-align: left;
    width: 95%;
    margin: auto;
}

th,td{
    border: solid 1px black;
    padding: 10;
}

thead{
    background-color:#256D85;
    border-bottom: solid 0px;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color:#47B5FF;
    color:white;
}

header{
    display: flex;
    height: 60px;
    background-color:#256D85;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo{
    display: flex;
    align-items: flex-end;
}

#menu {
    background-color: darkcyan;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: white;
    display: block;
    padding: 15px 288.75px;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: darkslategray;
}

div{
    color: #DFF6FF;
}

.fcc-btn {
    background-color: darkcyan;
    color: white;
    padding: 5px 25px;
    text-decoration: none;
    border: 5px solid darkslategray;
    
}

.fcc-btn:hover{
    background-color:#47B5FF;
    color:white;
}

.Titulo{
    color:#DFF6FF;
    margin: 40px;
}

div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
}

.rgb{
    width: 100%;
    border-radius: 15px;
}

address{
    color: #DFF6FF;
}